<div
  class="bg-[url('../images/about-pic.png')] bg-no-repeat bg-contain bg-green-900"
>
  <div
    class="justify-end md:container relative lg:container xl:container flex md:flex-row"
    id="o-firmie"
  >
    <!-- <div class="block h-_480 sm:h-_700 md:w-3/5 md:-ml-_45 xl:-ml-_145 ">
      <!-- <img
        class="block object-cover"
        src="./images/about-pic.png"
        alt="About"
      /> -->
    <!-- </div> -->
    <div
      class="flex bg-green-900 md:flex-col px-6 pb-8 pt-5 max-md:ml-pr50 max-md:flex-wrap md:w-3/5 md:pt-_120 md:pl-_45 md:pr-0 lg:mr-0 lg:ml-auto lg:py-_145"
    >
      <!-- <p class="text-lightBeige text-xxs md:text-xs">O firmie</p> -->
      <h2 class="text-lightBeige section_heading-h2">
        Tworzymy z <span class="section_heading-h2-suffix">pasją</span>
      </h2>
      <p class="text-lightBeige mb-6 lg:mb-_72 section_article">
        Każdy projekt to nowe wyzwanie. Dlatego nasz zespół tworzą
        wykwalifikowani projektanci oraz architekci, których zadaniem jest
        rozpoznanie i realizacja potrzeb każdego Klienta. Nasza specjalizacja to
        przestrzenie nowoczesne, które charakteryzuje minimalizm, geometria i
        elegancka prostota. Tworzymy ogrody małoobsługowe, dostosowane do
        współczesnego trybu życia.
      </p>
      <a
        class="inline-block text-lightBeige mx-auto filled_button-link md:ml-0"
        href="#"
        >Poznaj nas bliżej
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          class="inline-block"
        >
          <path
            d="M7.99528 -1.20755e-06L7.09959 0.895696L13.5769 7.36358L-7.5502e-07 7.36358L-6.43745e-07 8.63642L13.5675 8.63642L7.09959 15.1043L7.99529 16L16 7.99529L7.99528 -1.20755e-06Z"
            fill="#F5F0EC"
          /></svg
      ></a>
    </div>
  </div>
</div>
