<div class="flex flex-col-reverse md:flex-row w-full bg-beige">
  <div
    class="splide flex md:w-full md:container lg:container xl:container wide:container !pr-0 !ml-0 !mr-0 !max-w-max !pl-0"
    aria-label="Hero slider"
  >

    <div class="splide__arrows">
            <button
              class="splide__arrow splide__arrow--prev"
              type="button">
              <span class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="24" viewBox="0 0 27 24" fill="none">
                  <path
                    d="M0.795115 10.9393C0.209328 11.5251 0.209328 12.4749 0.795114 13.0607L10.3411 22.6066C10.9268 23.1924 11.8766 23.1924 12.4624 22.6066C13.0482 22.0208 13.0482 21.0711 12.4624 20.4853L3.97709 12L12.4624 3.51472C13.0482 2.92893 13.0482 1.97918 12.4624 1.3934C11.8766 0.80761 10.9268 0.80761 10.3411 1.3934L0.795115 10.9393ZM26.1442 10.5L1.85577 10.5L1.85577 13.5L26.1442 13.5L26.1442 10.5Z"
                    fill="black" />
                </svg>
              </span>
              
            </button>

      <button
        class="splide__arrow splide__arrow--next "
        type="button"
       
      >
        <span class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="24"
            viewBox="0 0 27 24"
            fill="none"
          >
            <path
              d="M26.2049 13.0607C26.7907 12.4749 26.7907 11.5251 26.2049 10.9393L16.6589 1.3934C16.0732 0.807611 15.1234 0.807611 14.5376 1.3934C13.9518 1.97919 13.9518 2.92893 14.5376 3.51472L23.0229 12L14.5376 20.4853C13.9518 21.0711 13.9518 22.0208 14.5376 22.6066C15.1234 23.1924 16.0732 23.1924 16.6589 22.6066L26.2049 13.0607ZM0.855774 13.5H25.1442V10.5H0.855774V13.5Z"
              fill="black"
            />
          </svg>
        </span>
        
      </button>
    </div>
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div
            class="relative flex flex-wrap md:flex-nowrap md:flex-row-reverse"
            
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
              class="block object-cover md:w-1/2"
              alt="Wild Landscape"
            />
            <div class="hero_heading-wrap">
              <h1 class="hero_h1">
                Nowoczesna aranżacja <span class="block"></span> Twojego ogrodu
              </h1>
              <p class="hero_heading-text">
                Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka
                realizacji. Oferujemy kompleksowy zakres usługz indywidualnym
                podejściem do każdego projektu.
              </p>

              <ul class="hero_links-list">
                <li class="">
                  <a href="#" class="hero_links-button"
                    >Skontaktuj się z nami</a
                  >
                </li>
                <li class="">
                  <a href="#" class="hero_links-button"
                    >Zobacz nasze realizacje
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      fill="none"
                      class="inline-block max-md:w-_12 max-md:h-_13"
                    >
                      <path
                        d="M16 8.49529L15.1043 7.59959L8.63642 14.0769L8.63642 0.5L7.36358 0.5L7.36358 14.0675L0.895699 7.59959L9.54553e-08 8.49529L8.00471 16.5L16 8.49529Z"
                        fill="#1B5B31"
                      /></svg></a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div
            class="relative flex flex-wrap md:flex-nowrap md:flex-row-reverse"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
              class="block object-cover md:w-1/2"
              alt="Camera"
            />
            <div class="hero_heading-wrap">
              <h1 class="hero_h1">Nowoczesna aranżacja Twojego ogrodu</h1>
              <p class="hero_heading-text">
                Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka
                realizacji. Oferujemy kompleksowy zakres usługz indywidualnym
                podejściem do każdego projektu.
              </p>

              <ul class="hero_links-list">
                <li class="">
                  <a href="#" class="hero_links-button"
                    >Skontaktuj się z nami</a
                  >
                </li>
                <li class="">
                  <a href="#" class="hero_links-button"
                    >Zobacz nasze realizacje
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      fill="none"
                      class="inline-block"
                    >
                      <path
                        d="M16 8.49529L15.1043 7.59959L8.63642 14.0769L8.63642 0.5L7.36358 0.5L7.36358 14.0675L0.895699 7.59959L9.54553e-08 8.49529L8.00471 16.5L16 8.49529Z"
                        fill="#1B5B31"
                      /></svg></a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div
            class="relative flex flex-wrap md:flex-nowrap md:flex-row-reverse"
            data-te-carousel-item
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp"
              class="block object-cover md:w-1/2"
              alt="Exotic Fruits"
            />
            <div class="hero_heading-wrap">
              <h1 class="hero_h1">Nowoczesna aranżacja Twojego ogrodu</h1>
              <p class="hero_heading-text">
                Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka
                realizacji. Oferujemy kompleksowy zakres usługz indywidualnym
                podejściem do każdego projektu.
              </p>

              <ul class="hero_links-list">
                <li class="">
                  <a href="#" class="hero_links-button"
                    >Skontaktuj się z nami</a
                  >
                </li>
                <li class="">
                  <a href="#" class="hero_links-button"
                    >Zobacz nasze realizacje
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      fill="none"
                      class="inline-block max-md:w-_13 md:h-_14"
                    >
                      <path
                        d="M16 8.49529L15.1043 7.59959L8.63642 14.0769L8.63642 0.5L7.36358 0.5L7.36358 14.0675L0.895699 7.59959L9.54553e-08 8.49529L8.00471 16.5L16 8.49529Z"
                        fill="#1B5B31"
                      /></svg></a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
