<div
  class="absolute top-_75 left-0 w-full h-screen -translate-y-120 bg-beige flex items-center justify-center z-20 transition-transform duration-700 ease-in-out"
  id="menu-wrap"
>
  <nav class="w-2/3 mobile-menu-links">
    <ul
      class="flex flex-col justify-center w-full h-full divide-y-2 divide-dashed"
    >
      <li class="flex justify-center items-center">
        <a class="block text-center py-6 w-full text-black_btn oferta-link" href="#"
          >Oferta</a
        >
      </li>
      <li class="flex justify-center items-center">
        <a class="block text-center py-6 w-full text-black_btn" href="#o-firmie"
          >O firmie</a
        >
      </li>
      <li class="flex justify-center items-center">
        <a
          class="block text-center py-6 w-full text-black_btn"
          href="#products"
          >Realizacje</a
        >
      </li>
      <li class="flex justify-center items-center">
        <a class="block text-center py-6 w-full text-black_btn" href="#kontakt"
          >Kontakt</a
        >
      </li>
    </ul>
  </nav>
</div>
