<div class="bg-lightBeige" id="oferta">
  <div class=" md:container relative lg:container xl:container py-_40 px-_36 md:py-_60 md:px-_45 lg:py-_89 lg:px-_72 xl:py-_120 xl:px-_88">
    <div class="md:w-2/3 xl:mb-24 xl:ml-_122 xl:w-pr57">
      <h2 class="section_heading-h2 xl:mb-8">
        Działamy
        <span class="section_heading-h2-suffix">kompleksowo</span>
      </h2>
      <p class="section_article mb-_30">
        Oferujemy kompletną obsługę inwestycji terenów zielonych. Projektujemy
        nowoczesne ogrody przydomowe oraz rezydencjonalne. Stworzymy dla Ciebie
        projekt, zwizualizujemy go i wcielimy w życie, a na każdym etapie
        posłużymy radą i wieloletnim doświadczeniem.
      </p>
    </div>

      <ul class="services_list">
        <li
          class="services_list-item"
        >
          <div class="services_list-item-head_wrap max-md:items-center">
            <div class="services_list-item-icon_wrap">
              <img
                src="./images/Icon-projects.png"
                alt="Projects"
                class="w-4 md:w-_36"
              />
            </div>
            <div>
                 <h3 class="services_list-item-heading">Projekty</h3>
            </div>
           
          </div>
          <div class="services_list-item-article_wrap">
            <p class="services_list-item-article_text">
              Zaprojektujemy Twój ogród w nowoczesnym stylu i z najlepszym
              wykorzystaniem istniejącej przestrzeni.
            </p>
            <a class="services_list-item-article_link" href="#"
              >Dowiedz się więcej</a
            >
          </div>
        </li>
        <li
          class="services_list-item"
        >
          <div class="services_list-item-head_wrap max-md:items-center">
            <div class="services_list-item-icon_wrap" >
              <img
                src="./images/Icon-visual.png"
                alt="Visualisation of projects"
                class="w-6 md:w-_36"
              />
            </div>
          <div><h3 class="services_list-item-heading">Wizualizacje</h3></div>
          </div>
          <div class="services_list-item-article_wrap">
            <p class="services_list-item-article_text">
              Przedstawimy Ci projekty koncepcyjne w postaci wirtualnego spaceru
              animowanego w technologii 3D.
            </p>
            <a class="services_list-item-article_link" href="#"
              >Dowiedz się więcej</a
            >
          </div>
        </li>
        <li
          class="services_list-item"
        >
          <div class="services_list-item-head_wrap max-md:items-center">
            <div class="services_list-item-icon_wrap ">
              <img
                src="./images/Icon-stars.png"
                alt="Stars"
                class="w-4 md:w-_36"
              />
            </div>
           <div><h3 class="services_list-item-heading">Realizacje</h3></div>
          </div>
          <div class="services_list-item-article_wrap ">
            <p class="services_list-item-article_text">
              Zrealizujemy Twoje marzenie przy użyciu najnowszych rozwiązań i
              zaawansowanych technologii.
            </p>
            <a class="services_list-item-article_link" href="#"
              >Dowiedz się więcej</a
            >
          </div>
        </li>
      </ul>
  
  </div>
</div>
