<div class="bg-beige">
  <div
    class="md:container lg:container xl:container relative pb-8 pt-5 md:pt-_120 lg:px-0 !max-w-full !px-0"
    id="products"
  >
    <h2 class="section_heading-h2 ml-_100 lg:ml-_160">
      Nasze <span class="section_heading-h2-suffix">projekty</span>
    </h2>
    <div class="gallery-container md:mt-_80"></div>
    <div
      class="absolute flex justify-center items-end bottom-0 left-0 w-full h-72 bg-gradient-to-t from-beige to-beige_tr"
    >
      <button
        type="button"
        data-action="more"
        class="font-Inter mb-6 pt-3 pb-3 px-5 text-xxs text-base text-black_btn border border-black_btn rounded-3xl"
      >
        Rozwiń<svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="14"
          viewBox="0 0 16 17"
          fill="none"
          class="inline-block ml-_7"
        >
          <path
            d="M16 8.49529L15.1043 7.59959L8.63642 14.0769L8.63642 0.5L7.36358 0.5L7.36358 14.0675L0.895699 7.59959L9.54553e-08 8.49529L8.00471 16.5L16 8.49529Z"
            fill="#111111"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
