<div class="bg-lightBeige">
  <div
    class="md:container lg:container xl:container flex flex-col flex-wrap justify-center items-center py-14 px-8 md:py-_100"
    id="kontakt"
  >
    <div class="bg-greenSubs py-_40 px-_20 md:py-_120 md:px-_110 md:flex md:items-end">
      <h3 class="text-lightBeige w-full text-base md:text-xl">
        Zostańmy w kontakcie!<span class="block"></span>Znajdziesz nas na <span
          class="font-Inter italic text-base md:text-xl"
          >Instagramie</span
        >.
      </h3>
      <div class="flex flex-col mt-8 items-center justify-around md:m-0 md:items-start">
        <p class="font-Inter text-xs text-lightBeige mb-_20">
          Śledź nasze najnowsze realizacje!
        </p>
        <a
          href="#"
          class="block text-greenSubs rounded-3xl py-1 px-2 font-Inter text-xxs bg-lightBeige text-center md:py-_10 md:px-_22"
          >Instagram</a
        >
      </div>
    </div>
  </div>
</div>
